<div class="container-vertical">
  <div class="cards-item">
    <% @compilation.items.each do |item| %>
      <div class="card-item" style="background-image: url(<%= item.photo.url %>)">
      </div>
    <% end %>
  </div>
<div>
