<ul>
    <li><%= @compilation.name %></li>
    <li><%= @compilation.description %></li>
    <li><%= @compilation.public %></li>
    <%= link_to "Edit collection", edit_compilation_path(@compilation) %>
</ul>