.cards-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 8px;

  a {
    text-decoration: none;
  }
}

.card-collection {
  height: 350px;
  background-size: cover;
  background-position: center top;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 4px;

  h3 {
    color: white;
    padding-top: 50%;
    text-shadow: 1px 1px 5px black;
  }
}
.card-collection:hover {
  filter: brightness(85%);
}

.cards-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 8px;
}

.card-item {
  height: 350px;
  background-size: cover;
  background-position: center top;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 4px;
}
.card-item:hover {
  filter: brightness(85%);
  cursor: pointer;
}
