.super-container-flex {
  display: flex;
  margin: 16px;
  align-items: center;

  * {
    margin-right: 8px;
    margin-bottom: 0;
    color: black;
    text-decoration: none;
  }
}

.container-vertical {
  margin-top: 16px;
  margin-bottom: 16px;
}

.super-flex {
  display: flex;
}

.c-50 {
  width: 70%;
  margin: auto;
}

.space-between {
  justify-content: space-between;
}

.d-none {
  display: none;
}

.super-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  padding: 8px;
  text-align: center;

  * {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }
}

.border-top {
  border-top: 10px black;
}
