/* The Modal (background) */

/* Modal Content (Image) */
.modal-image {
  margin: auto;
  display: block;
  max-width: 700px;
  width: 100%;
  
}

.modal-img {
  width: 70%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modal-flex{
  display: flex;
}

.colortext{

}
