/* The Modal (background) */

/* Modal Content (Image) */
.modal-image {
  margin: auto;
  display: block;
  max-width: 70%;
  max-height: 85vh;
  flex-grow: 0;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modal-flex{
  display: flex;
}

.modal-text {
  color: var(--bs-body-font-family);
  flex-grow: 1;
}
