/* The Modal (background) */

/* Modal Content (Image) */
.modal-image {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 75vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modal-flex{
  display: flex;
}

.modal-text {
  color: var(--bs-body-font-family);
  flex-grow: 1;
}

.modal-content {
  min-height: 75vh;
}

.img-container-modal {
  background: rgba(0, 0, 0, 0.1);
  min-height: 75vh;
}

.commentuser {
  padding: 16px;
  margin: 12px 12px 12px 0px;
 
  align-items: center;
  
}
.principalecomment{
  display: flex;
  flex-direction: column;
}
.usernameclass{
  padding-top: 1%;
  display: flex;
  gap: 10px;
}
.commentuser{
  display: flex;
  font-size:15px;
}

.datecomment{
  display: flex;
  border-bottom: solid;
  font-size:15px;
  padding-bottom: 2%;
  
}





