.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky !important;
  top: 0 !important;
  z-index: 1;
  vertical-align: baseline;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.username {
  margin-left: 16px;
  font-size: 16px;
  color: gray;
}

.search-bar {
  margin-right: 4px;
  width: 400px;
  background: white !important;
  height: 41px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.search-btn {
  margin-bottom: 0px !important;
  background: white !important;
  color: gray !important;
  border-color: gray !important;
  text-decoration: none !important;
  font-weight: lighter !important;
  border-radius: 10px;
}
.search-btn:hover {
  background: rgba(215, 215, 215, 0.3) !important;
}
