.navbar-lewagon {
  display: flex;
  background: white;
  position: sticky !important;
  top: 0 !important;
  z-index: 1;
  vertical-align: baseline;
  box-shadow: 0px -10px 10px 5px black;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin: 4px;
}

.username {
  margin-left: 16px;
  font-size: 16px;
  color: gray;
}

.nav-links {
  display: flex;
}

.nav-link {
  margin-left: 80px;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-user {
  margin: 4px;
}

.navbar-toggler {
  margin: 4px;
}
