.card_post{
  background-color: white !important;
  font-family: var(--bs-body-font-family);
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: lightgrey;
  border-width: thin;
  padding: 12px;
  width: 600px;
 }

 .figmage-container {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 100px;
  width: 400px;
  height: 300px;
  border-radius: 10px !important;
}

.figmage {
  border: solid !important;
  border-color: rgb(241, 147, 32) !important;
}

.feedmage{
  display: flex;
  padding: 5px;
  font-weight: bold;
  margin-left: 100px;
}

.feedtaille{
  margin-left: 5px !important;
  padding-top: 5px !important;
  margin-left: 100px;
}

.posts{
  background-color: rgb(238, 237, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px 0px 10px 0px; /* top | right | bottom | left */
  overflow-y: scroll;
  scroll-timeline: squareTimeline vertical;
  position: relative;
}

.btn-right {
  margin-left: 240px !important;
  margin-top: -5px !important;
  margin-bottom: 10px !important;
}

.btn-right:hover{
  pointer-events: visible;
  background-color: antiquewhite;
}

.write{
  margin-left: 100px !important;
  margin-bottom: 5px !important;
}

.okshare{
  width: 30px;
  height: 25px;
  margin-left:110px;
  margin-top: -25px !important;
}