<footer class="super-grid mt-12 border-top">
  <p><%= image_tag "logo.png", class: "avatar" %> © 2023 Collection, Inc.
  Authors: <%= link_to 'Hadrien Bourgoin', 'https://www.linkedin.com/in/hadrien-bourgoin/' %>,
  Sébastien Mercier-Bellevue, Andy Mputu <br></p>
  <p><a href="#">Terms</a></p>
  <p><a href="#">Privacy</a></p>
  <p><a href="#">Security</a></p>
  <p><a href="#">Docs</a></p>
  <p><a href="#">Contact</a></p>
  <p><a href="#">About</a></p>
</footer>
